body {
  height: 100dvh;
}

.presentation-card {
  position: relative;
  grid-column: span 3;
  grid-row: span 3;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
}

.presentation-card::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  right: 0;
  background-image: url('../img/me.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(12px);
  opacity: .3;
}

.presentation-card__image {
  max-width: 25%;
  max-height: 100%;
  border-radius: var(--card-border-radius);
}

.presentation-card__buttons {
  display: flex;
  gap: .5rem;
  width: fit-content;
  margin-top: 2rem;

  font-size: .7em;
}

.presentation-card__buttons button,
.presentation-card__buttons a {
  display: flex;
  align-items: center;
  justify-content: center;

  border-width: 2px 4px 4px 2px;
  border-color: var(--primary);
  border-style: solid;
  border-radius: 5px;
  color: white;
  padding: .25em 1rem;
  font-size: 1.5em;
  background-color: black;
  text-align: center;

  transition: color, filter 300ms;
}

.presentation-card__buttons:hover button:not(:hover),
.presentation-card__buttons:hover a:not(:hover),
.icon-list:hover .icon-item:not(:hover){
  filter: grayscale(1) opacity(0.5);
}

.presentation-card__spaced-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.about-me-card {
  grid-row: span 6;
}

.link-card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  text-decoration: none;

  padding: 1rem 2rem;
  color: white;
}

.link-card__title {
  font-size: 1.75em;
}

.clock-card {
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: clamp(1em, 2.5vw, 2em);
}

.contact-card {
  grid-row: span 3;
}

.icon-item {
  margin-bottom: .5rem;
  transition: filter 300ms;
}

.icon-item i {
  margin-right: .5em;
  vertical-align: middle;
}

.current-status-card {
  grid-row: span 2;
}


@media(max-width: 1024px) {
  body {
    height: fit-content;
  }

  .card-grid {
    grid-template-rows: repeat(7, minmax(0, 1fr));
    grid-template-columns: repeat(3, minmax(0, 1fr));
    max-height: none;
  }

  .about-me-card {
    grid-row: span 4;
  }

  .contact-card {
    grid-row: span 2;
  }
}

@media(max-width: 768px) {
  .card-grid {
    grid-template-columns: minmax(0, 1fr);
    grid-auto-rows: max-content;
    grid-template-rows: none;
  }

  .presentation-card::before {
    z-index: -2;
  }

  .presentation-card__image {
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    height: 50%;
    max-width: unset;
    object-fit: contain;
    z-index: -1;
    opacity: .4;
  }

  .card {
    grid-column: span 1;
    grid-row: span 1;
  }

  .popup__content {
    height: 100%;
    border-radius: 0;
  }
}
