/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

* {
  box-sizing: border-box;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Amarna', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
:root {
  --primary: #ffba24;
  --secondary: rgb(239, 68, 68);

  --card-background: #151515;
  --card-text: #afafaf;
  --card-text-alternate: #6a6a6a;
  --card-border-radius: 1rem;
  --card-padding: 1rem;
  --card-font-size: 14px;

  --line-color: #383838;
  --line-size: 80px;
}

p {
  margin-top: 0;
  margin-bottom: .5em;
}

strong {
  font-weight: bold;
  color: white;
}

mark, .anchor {
  background: var(--primary);
  color: black;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

h3 {
  margin-top: 0;
}

body {
  margin: 0;
  width: 100dvw;
  max-width: 100%;
  display: flow-root;
}

body:has(.popup.show) {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.main-background {
  background-color: #111111;
}

.main-background::before {
  content: "";
  position: fixed;
  width: 100dvw;
  height: 100dvh;

  background: linear-gradient(90deg,var(--line-color) 1px,transparent 1px) 0 0 / var(--line-size) var(--line-size),linear-gradient(var(--line-color) 1px,transparent 1px) 0 0 / var(--line-size) var(--line-size);
  mask: linear-gradient(-360deg,transparent 40%,white);

  z-index: -1;
}

.page-navigation-button {
  border-radius: 1rem;
  background: var(--card-background);
  color: white;
  border: 1px solid var(--card-text-alternate);
  padding: .5rem 1rem;
  font-size: 1rem;
}

.navigation__back {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.alternate-background {
  background: #3E3E3E;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(6, minmax(0, 1fr));
  gap: 1rem;

  width: 100%;
  max-width: 72rem;
  height: 100%;
  max-height: 800px;

  margin: 0 auto;
  padding: 2rem;
}

.card {
  opacity: 0;
  padding: var(--card-padding);
  background-color: var(--card-background);
  color: var(--card-text);
  border: 1px solid var(--card-text-alternate);
  border-radius: var(--card-border-radius);
  font-size: var(--card-font-size);

  overflow: hidden;
  transition: all 300ms;
}

.card.show {
  animation: card__fade-in 500ms forwards;
}

.card:hover {
  border-color: var(--primary);
}

.card strong {
  transition: all 300ms;
}

.card:hover strong {
  color: var(--primary);
}

.text-alternate {
  color: var(--card-text-alternate);
}

.popup {
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;

  transition: opacity 300ms;
}

.popup.show {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}

.popup.show.hiding {
  opacity: 0;
}

.popup::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background: linear-gradient(90deg,var(--card-background) 0%,var(--card-background) 20%,var(--card-background) 100%);
  opacity: .8;
  z-index: -1;
}

.popup__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 600px;
  max-width: 1024px;

  background: white;
  border-radius: var(--card-border-radius);
}

.popup__close {
  position: fixed;
  top: 2rem;
  right: 2rem;

  color: var(--card-text);
  cursor: pointer;
  z-index: 2;
}

.interactive-icon-card {
  translate: 0;

  transition: translate 300ms, color 300ms;
}

.active-icon {
  position: relative;
  float: right;
  margin-left: 1rem;
  color: var(--secondary);
}

.active-icon__circle {
  display: block;
  width: .5rem;
  height: .5rem;
  background-color: var(--secondary);
  border-radius: 50%;
}

.active-icon__pulse {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: .5rem;
  height: .5rem;
  background-color: var(--secondary);
  border-radius: 50%;

  transform-origin: center;
  animation: pulse 1.5s infinite;
}

.card:hover .interactive-icon-card {
  color: var(--primary);
}

.card:hover .interactive-icon-card[direction="down"] {
  translate: 0 6px;
}

.card:hover .interactive-icon-card[direction="upright"] {
  translate: 3px -3px;
}

.icon-arrow-upright {
  rotate: 45deg;
}

@media (max-width: 1024px) {
  .navigation__back {
    left: 1rem;
  }
}

@keyframes card__fade-in {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    transform: scale(3);
    opacity: 0;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

